In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
from tensorflow.keras.models import load_model

In [17]:
##load the train model,scaler pickle
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [18]:
##load the encoder and scaler
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [19]:
input_data={
    'CreditScore':200,
    'Geography':'Spain',
    'Gender':'Female',
    'Age':50,
    'Tenure':4,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [20]:
input_data=pd.DataFrame([input_data])

In [21]:
input_data['Gender']=label_encoder_gender.transform(input_data['Gender'])

In [22]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,200,Spain,0,50,4,60000,2,1,1,50000

In [23]:
geo_encoder=onehot_encoder_geo.transform(input_data[['Geography']])
df_1=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
df_1=df_1.drop(columns=['Geography_Spain'],axis=1)

In [24]:
input_data=pd.concat([input_data.drop(columns=['Geography'],axis=1),df_1],axis=1)

In [25]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany
0,200,0,50,4,60000,2,1,1,50000,0.0,0.0

In [26]:
##scaling the data
input_scaled=scaler.transform(input_data)

In [27]:
prediction=model.predict(input_scaled)
prediction_pro=prediction[0][0]

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 128ms/step

In [28]:
if prediction_pro>0.5:
    print('The customer is likely to churn')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.